{% extends "everify/register.html" %}
{% load crispy_forms_tags %}
{% block register %}
<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Educational Institution</h2>
                    
                    <p class="lead">Not registered as an Institution yet?</p>
                    <p class="lead">Officially partners with all reputed Educational Institutions across Kenya and abroad and its services utilized by International Embassies, Universities and government organizations around the world.</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Register Here</h2>

                    <form action="" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                           <button type="submit" name="submit" value="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Register</button>
                        </div>
                    </form>
                    <hr>
                    <p class="text-muted">Already have an account? <a href="contact.html">SIGN IN</a></p>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
{% endblock %}