{% extends "everify/index.html" %}
   {% block content %}
    <base href="/registration" />
    <div id="all">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'students:register' %}" class="btn">Student / Alumni</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'institutions:register' %}" class="btn">Educational Institution</a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="btn">Corporate Screeners</a>
                    </div>
                </div>
            </div>
        </div>
        {% block register %}
        {% endblock %}
    </div>
    <!-- /#all -->
    {% endblock %}